dialog{
    margin: auto;
    border-radius: 8px;
}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 700px;
    height: auto;
}

.btn-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#modal-editar-comentarios p {
    margin: 10px 0;
    padding: 10px;
    text-align: justify;
    height: auto;
}

#contenido{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    align-items: center;
}

.mostrar{
    opacity: 1;
    pointer-events: all;
}

#contenido{
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
    width: 100%;
    align-items: center;
}

#container-btn-pedir-turno{
    width: fit-content;
}

#btn-pedir-turno{
    width: 260px;
}

#contenido h2{
    margin: 20px 0;
}

#contenido ul{
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    flex-direction: column;
    width: 100%;
}

.turnos-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-buscar-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn-buscar-turnos{
    height: 40px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: transparent;
    padding: 0 6px;
    margin: 10px 4px;
}

.set-background{
    color: #fff;
    background-color: #62b6cb;
}

.mostrar{
    display: flex;
}

.ocultar{
    display: none;
}

.btn-buscar-turnos:hover{
    cursor: pointer;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="date"]{
    height: 40px;
    padding: 10px;
    width: 90%;
    margin-left: 8px;
}

#contenido .lista-turnos li{
    margin: 10px;
    min-height: 180px;
    min-width: 100px; 
    background-color: #e1eff6;
    list-style-type: none;
    border-radius: 12px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#contenido li:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.3s;
}

#contenido .lista-turnos li h3{
    text-transform: uppercase;
}

#contenido .lista-turnos li div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenido .lista-turnos li div p{
    margin: 4px 10px;
}

.btn-turno, .btn-container input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color .5s, color .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-turno:hover{
    cursor: pointer;
    color: #fff;
    transition: background-color .5s, color .5s;
    background-color: #62b6cb;
}

a{
    text-decoration: none;
}

form{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

#titulo-turnos-dia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px){
    form{
        width: 360px;
    }

    .btn-container{
        width: 100%;
    }
}

@media (max-width: 900px){
    .turnos-container{
        flex-direction: column;
    }
}
